# 服务ID
APP_ID=
# 服务器ID: 1到15台服务器
SERVER_ID=1
# 服务端口
NGINX_PORT=8888
NGINX_SSL_PORT=8443
# 服务端口
SERVER_PORT=8080
# debug - 调试模式；release - 生产模式；test - 测试模式
SERVER_MODE=release
# 域名
DOMAIN=

# 服务器ip
SERVER_IP=127.0.0.1

#数据库\Redis连接类型 ，本地-local , 外部-remote（集群）
DB_REDIS_TYPE=

#数据库配置
DB_HOST=db
DB_PORT=3306
DB_PORT_OPEN=13306
DB_USERNAME=saas
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_DATABASE=saas
DB_PREFIX=ttpos_
DB_SLOW_QUERY_TIME=

# Redis 配置
REDIS_CLUSTER_ANNOUNCE_IP=auto
REDIS_HOST=redis-node-1,redis-node-2,redis-node-3
REDIS_PORT=7001,7002,7003
REDIS_PASSWORD=
REDIS_DB=0

# JWT 配置
JWT_SECRET="dkjhd00a08"
JWT_EXPIRE=7776000

# 原PHP配置
APP_DEBUG=false
DEFAULT_TIMEZONE=Asia/Shanghai

# 存储驱动程序上传图片等使用: google,local
STORAGE_DRIVER=local

# 有道翻译
YOUDAO_APP_KEY=
YOUDAO_SEC_KEY=

# 是否是云上部署
IS_CLOUD_DEPLOY=true

# 云平台的地址
CLOUD_PLATFORM_HOST=http://nginx

# 支付服务的RSA公钥
PAY_SERVICE_RSA_PUBLIC_KEY=
# 支付服务的IP地址
PAY_SERVICE_IP=
# 支付服务的URL地址
PAY_SERVICE_URL=

# 指定桌台生成二维码的使用域名
H5_BASE_URL=
# 指定电子菜单生成二维码的域名
EMENU_BASE_URL=
# 指定会员生成二维码的域名
MEMBER_BASE_URL=

# 谷歌云证书文件名
GOOGLE_APPLICATION_CREDENTIALS_FILE_NAME=
# 谷歌云bucket - 安装包使用
GOOGLE_APPLICATION_BUCKET_NAME=
# 谷歌云bucket - 安装包使用 - 指定环境（Demo, Test, Prod）
GOOGLE_APPLICATION_BUCKET_ENV=Prod
# 谷歌云 - 上传图片的bucket （diacan-test）
GOOGLE_APPLICATION_UPLOADS_BUCKET_NAME=
# 谷歌云 - 上传图片的目录名称 （TTPOS-Test）
GOOGLE_APPLICATION_UPLOADS_CATALOGUE_NAME=
# 谷歌云 - 打印相关的bucket - (当前桶要配置7天自动删除)（ttpos_print_test）
GOOGLE_PRINT_BUCKET_NAME=
# 谷歌地址的api-key
GOOGLE_PLACES_API_KEY=

#golang\websocket镜像版本
IMAGE_VERSION=latest

# 数据迁移 - 旧数据库的配置
MIGRATE_OLD_DB_HOST=192.168.100.88
MIGRATE_OLD_DB_PORT=3306
MIGRATE_OLD_DB_USERNAME=root
MIGRATE_OLD_DB_PASSWORD=
MIGRATE_OLD_DB_PREFIX=jjjfood_

# skywalking 相关
SW_AGENT_NAME=ttpos
SW_AGENT_REPORTER_GRPC_BACKEND_SERVICE=127.0.0.1:11800
SW_AGENT_REPORTER_GRPC_CHECK_INTERVAL=20

# 短信sms 相关
SMS_BASE_URL=
SMS_API_KEY=
SMS_PROJECT_NAME=

#------ 外送服务相关配置 -------
#外送服务grpc 接入点, 本地调试用 localhost:14032 ,部署时使用 takeout 服务的地址
TAKEOUT_ENDPOINT=localhost:14032

#外送服务 http 接入点, 本地调试用 localhost:14031 ,部署时使用 takeout 服务的外网地址
#测试环境参考 TAKEOUT_SERVICE_URL=https://ttpos-test1.ttpos.com/api/v1/takeout
TAKEOUT_SERVICE_URL=http://localhost:14031

TAKEOUT_CALLBACK_SECRET=$JWT_SECRET
TAKEOUT_TTPOS_SECRET=$JWT_SECRET

#END ---- 外送服务相关配置  -----

#------- 中台相关配置  ------
#Nacos 配置相关

#开发默认 10.0.11.10
NACOS_SERVER_IP=10.0.11.10
NACOS_SERVER_PORT="8848"
NACOS_GRPC_PORT="9848"

#RocektMQ 配置
#开发默认 10.0.11.40
ROCKETMQ_NAME_SRV_ADDR=10.0.11.40:9876
ROCKETMQ_GROUP_NAME=ttpos-go-group
ROCKETMQ_ENABLED=true
ROCKETMQ_RETRY=3
ROCKETMQ_LOG_LEVEL=warn

# brokerAddr+端口，选填。用于消费者订阅主题前会检查主题是否存在，不存在会自动创建。你也可以在rocketmq控制台手动创建主题
#开发默认 10.0.11.41
ROCKETMQ_BROKER_ADDR=10.0.11.41:10911
#END ------- 中台相关配置  ------

# OTLP 配置
OTLP_ENABLED=false
OTLP_SERVICE_NAME=ttpos-main
OTLP_ENDPOINT=localhost:4318
OTLP_PATH=/v1/traces
OTLP_LOG_HEADERS=device-id,client-version,x-ttpos-company-id
# END ------ OTLP 配置 ------

# reconciliation_templates(盘点单模板)服务的WEBHOOK秘钥
WEBHOOK_SECRET=


