SERVER_PORT=8080
# debug - 调试模式；release - 生产模式；test - 测试模式
SERVER_MODE=release

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_DATABASE=
DB_TABLE_PREFIX=
DB_SLOW_QUERY_TIME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=1

JWT_SECRET=
JWT_EXPIRE=




# php
APP_ID=
APP_IPPR=127.0.0.1
APP_DEBUG=false
APP_PORT=8080
APP_SSL_PORT=
DEFAULT_TIMEZONE=Asia/Shanghai

# 存储驱动程序上传图片等使用: google,local
STORAGE_DRIVER=local

# 数据库
DB_TYPE=mysql
DB_HOST=db
DB_PREFIX=jjjfood_
DB_DATABASE=saas
DB_USERNAME=jjj
DB_PORT=3306
DB_PASSWORD=123456
DB_ROOT_PASSWORD=

# REDIS - 读
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# REDIS - 写
REDIS_HOST_WRITE=redis
REDIS_PORT_WRITE=6379
REDIS_PASSWORD_WRITE=

# 是否是云上部署
IS_CLOUD_DEPLOY=true

# 云平台的地址
CLOUD_PLATFORM_HOST=http://nginx

# 支付服务的RSA公钥
PAY_SERVICE_RSA_PUBLIC_KEY=
# 支付服务的IP地址
PAY_SERVICE_IP=
# 支付服务的URL地址
PAY_SERVICE_URL=
# 支付服务的支付接口URI
PAY_SERVICE_AUTH_URI=
# 支付服务回调地址
PAY_SERVICE_LIANLIAN_CALLBACK_URL=
# 支付服务退款回调地址
PAY_SERVICE_LIANLIAN_REFUND_CALLBACK_URL=

# 指定卓台生成二维码的使用域名
H5_BASE_URL=

# 谷歌云证书文件名
GOOGLE_APPLICATION_CREDENTIALS_FILE_NAME=
# 谷歌云bucket - 安装包使用
GOOGLE_APPLICATION_BUCKET_NAME=
# 谷歌云bucket - 安装包使用 - 指定环境（Demo, Test, Prod）
GOOGLE_APPLICATION_BUCKET_ENV=Prod
# 谷歌云 - 上传图片的bucket （diacan-test）
GOOGLE_APPLICATION_UPLOADS_BUCKET_NAME=
# 谷歌云 - 上传图片的目录名称 （TTPOS-Test）
GOOGLE_APPLICATION_UPLOADS_CATALOGUE_NAME=