# 服务ID （脚本自动生成）
APP_ID=
# 域名
DOMAIN=

#数据库配置 （按实际情况修改）
DB_HOST=db
DB_PORT=3306
DB_PORT_OPEN=13306
DB_USERNAME=ttpos
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_DATABASE=saas
DB_PREFIX=ttpos_
DB_SLOW_QUERY_TIME=
# 数据库root用户名
DB_ROOT_USERNAME=root

# Redis 配置 （按实际情况修改）
REDIS_CLUSTER_ANNOUNCE_IP=auto
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT 配置 （按实际情况修改）
JWT_SECRET="dkjhd00a08"
JWT_EXPIRE=7776000


#golang\websocket镜像版本 （按实际情况修改）
IMAGE_VERSION=latest

# skywalking 相关 （按实际情况修改）
SW_AGENT_NAME=ttpos  
SW_AGENT_REPORTER_GRPC_BACKEND_SERVICE=127.0.0.1:11800
SW_AGENT_REPORTER_GRPC_CHECK_INTERVAL=20

#------- 中台相关配置  ------ （按实际情况修改）
#Nacos 配置相关
NACOS_AUTH_TOKEN="sUK3WzeHruv+hCuaBGPs="
NACOS_AUTH_IDENTITY_KEY="ttpos-test"
NACOS_AUTH_IDENTITY_VALUE="16888"

#开发默认 10.0.11.10
NACOS_SERVER_IP=103.63.139.174
NACOS_USERNAME="nacos"
NACOS_PASSWORD="qwe@123.."
NACOS_CONSOLE_PORT="18080"
NACOS_SERVER_PORT="8848"
NACOS_GRPC_PORT="9848"

#RocektMQ 配置
#开发默认 10.0.11.40
ROCKETMQ_NAME_SRV_ADDR=103.63.139.174:9876

# brokerAddr+端口，选填。用于消费者订阅主题前会检查主题是否存在，不存在会自动创建。你也可以在rocketmq控制台手动创建主题
#开发默认 10.0.11.41
ROCKETMQ_BROKER_ADDR=103.63.139.174:10911

#GRPC_ENDPOINTS (填写服务器内网IP或服务器外网IP)
GRPC_ENDPOINTS=

# erpnext webhook 回调加密串
WEBHOOK_SECRET=ga8Lut_uor

#SKOOTAR API KEY
SKOOTAR_API_KEY=$SKOOTAR_API_KEY
SKOOTAR_ENDPOINT=https://hw.skootar.com/skootar_api_dev
SKOOTAR_CHANNEL=diylink
SKOOTAR_USERNAME=victor@diylink.net
#END ------- 中台相关配置  ------


# Mailgun 邮件服务配置
MAILGUN_DOMAIN=ttpos.com
MAILGUN_API_KEY=
MAILGUN_FROM_EMAIL=service@ttpos.com
MAILGUN_FROM_NAME="TTPOS System"

#End ------- Mailgun 邮件服务配置  ------
