# 服务ID （脚本自动生成）
APP_ID=
# 域名
DOMAIN=

#数据库配置 （按实际情况修改）
DB_HOST=db
DB_PORT=3306
DB_PORT_OPEN=13306
DB_USERNAME=ttpos
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_DATABASE=saas
DB_PREFIX=ttpos_
DB_SLOW_QUERY_TIME=
# 数据库root用户名
DB_ROOT_USERNAME=root

# Redis 配置 （按实际情况修改）
REDIS_CLUSTER_ANNOUNCE_IP=auto
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
#dev 自动
REDIS_ADDRESSES=

#测试环境
#REDIS_ADDRESSES=103.63.139.26:7001,103.63.139.26:7002,103.63.139.26:7003,103.63.139.47:7001,103.63.139.47:7002,103.63.139.47:7003,103.63.139.149:7001,103.63.139.149:7002,103.63.139.149:7003

#生产环境
#REDIS_ADDRESSES=10.148.0.62:7001,10.148.0.62:7002,10.148.0.63:7003,10.148.0.63:7001,10.148.15.192:7002,10.148.0.192:7003



# JWT 配置 （按实际情况修改）
JWT_SECRET="dkjhd00a08"
JWT_EXPIRE=7776000


#golang\websocket镜像版本 （按实际情况修改）
IMAGE_VERSION=latest



#------- 中台相关配置  ------ （按实际情况修改）
#Nacos 配置相关
NACOS_AUTH_TOKEN="OGQxMjE1OWMzMTkwNGJkOWViMTI4YzgyNjFlZmJiYTExYTA3ZTZjOGI4ZGY2YjNjZTBlZTg4NDljM2ZkYjgwMwo="
NACOS_AUTH_IDENTITY_KEY="ttpos-test"
NACOS_AUTH_IDENTITY_VALUE="16888"

#开发默认 10.0.11.10
NACOS_SERVER_IP=10.0.11.10
#测试环境
# NACOS_SERVER_IP=103.63.139.174
NACOS_USERNAME=""
NACOS_PASSWORD=""
NACOS_CONSOLE_PORT="18080"
NACOS_SERVER_PORT="8848"
NACOS_GRPC_PORT="9848"

#nacos 集群支持, 逗号分割。优先使用这个配置
#开发本地
NACOS_SERVER_ADDRESSES=10.0.11.10:8848
#测试环境
#NACOS_SERVER_ADDRESSES=103.63.139.174:8848


#RocektMQ 配置
#开发默认 10.0.11.40
ROCKETMQ_NAME_SRV_ADDR=10.0.11.40:9876
#测试环境 103.63.139.174:9876
#ROCKETMQ_NAME_SRV_ADDR=103.63.139.174:9876

# brokerAddr+端口，选填。用于消费者订阅主题前会检查主题是否存在，不存在会自动创建。你也可以在rocketmq控制台手动创建主题
#开发默认 10.0.11.41
ROCKETMQ_BROKER_ADDR=10.0.11.41:10911
#测试环境
# ROCKETMQ_BROKER_ADDR=103.63.139.174:10911

#GRPC_ENDPOINTS (填写服务器内网IP或服务器外网IP)
GRPC_ENDPOINTS=
#测试环境
# GRPC_ENDPOINTS=192.168.30.24

# erpnext webhook 回调加密串
WEBHOOK_SECRET=ga8Lut_uor

#SKOOTAR API 配置
SKOOTAR_API_KEY=$SKOOTAR_API_KEY
SKOOTAR_ENDPOINT=https://hw.skootar.com/skootar_api_dev
SKOOTAR_CHANNEL=diylink
SKOOTAR_USERNAME=victor@diylink.net

# Grab 配置
# 环境选择: production 或 staging
GRAB_ENV=staging

# Grab Platform API 配置（用于接收 Grab 回调和主动查询）
GRAB_PLATFORM_CLIENT_ID=
GRAB_PLATFORM_CLIENT_SECRET=
GRAB_PLATFORM_SECRET_KEY=

# Grab Partner API 配置（用于调用 Grab Partner API，如创建订单）
# default 合作伙伴账号配置（默认使用）
GRAB_PARTNER_DEFAULT_CLIENT_ID=ttpos-grab-xxxx
GRAB_PARTNER_DEFAULT_CLIENT_SECRET=

#END ------- 中台相关配置  ------


# Mailgun 邮件服务配置
MAILGUN_DOMAIN=ttpos.com
MAILGUN_API_KEY=
MAILGUN_FROM_EMAIL=service@ttpos.com
MAILGUN_FROM_NAME="TTPOS System"

#End ------- Mailgun 邮件服务配置  ------

# 当前服务IP, 测试/生产每个主机都不一样，刚才实际IP，参考 main 模块
SERVER_IP=127.0.0.1
#测试环境
# SERVER_IP=192.168.30.24

# ttpos main 模块回调地址 
TTPOS_MAIN_ENDPOINT=http://${SERVER_IP}:8080
#测试环境
# TTPOS_MAIN_ENDPOINT=http://192.168.30.24



# v2.15 OTLP 配置
OTLP_ENABLED=false
# OTLP_SERVICE_NAME=ttpos-bmp
OTLP_ENDPOINT=https://localhost:4318
OTLP_PATH=/v1/traces
OTLP_LOG_HEADERS=device-id,client-version,x-ttpos-company-id
OTLP_TOKEN="OTLP_TOKEN"
# END ------ OTLP 配置 ------