.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
.bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
**/config/config.yaml
**/hack/config.yaml
app/**/internal/controller/rpc/api/api.go
