.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
.bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
**/config/config.yaml
**/hack/config.yaml
app/**/internal/controller/rpc/api/api.go

# 构建成品
app/ttpos-erp/ttpos-erp
app/ttpos-takeout/ttpos-takeout
app/ttpos-message/ttpos-message