<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="echarts.min.js"></script> -->
    <title></title>
    <script src="./config.js" type="text/javascript" charset="utf-8"></script>
    <link rel="icon" href="./src/assets/TTPOS.ico" />
  </head>

  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
