.env
.DS_Store
.idea
.vscode
.rnd
error.log
/vendor
/node_modules
/docker/redis/data/*
/docker/mysql/data
/docker/mysql/backup
/docker/mysql/import/*
/docker/mysql/tmp
/docker/rabbitmq/mnesia
/docker/php/job.log
/docker/php/inotify.log
/public/uploads/*
/public/home/*
/public/temp/*
/fonts
generated_image.png
/tmp

