stream {
    log_format custom '$remote_addr [$time_local] '
                            'protocol:$protocol '
                            'status:$status '
                            'bytes_sent:$bytes_sent '
                            'bytes_received:$bytes_received '
                            'upstream:"$upstream_addr" '
                            'connect_time:$upstream_connect_time '
                            'session_time:$session_time';
    #mysql-router的ip和端口
   upstream database_servers {
        zone database_servers 64k;
        server 172.16.10.101:6446 max_fails=1 fail_timeout=3s;
        server 172.16.10.164:6446 max_fails=1 fail_timeout=3s;
        server 172.16.10.179:6446 max_fails=1 fail_timeout=3s;
    }
    # 配置健康检查
    server {
        listen 6446;
        proxy_pass database_servers;
        proxy_next_upstream on;
        access_log /var/log/nginx/access.log custom;
    }
}